<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type ="text/css" href="/style/page1.css" rel="stylesheet">
    <script type="text/javascript" src="/js/blblbl.js"></script>
    <title>Document</title>
</head>
<body class="background">
    <div class="container">
        <div class="header">         
            <h1> Le Jeu du Pendu</h1>
        </div>
        <div class="contain">
            <p id="mot_cache">{{.WordHidden}}</p> 
            <p id="guessedletter">Lettre utilisé : {{.Guessedletter}}</p>
            {{if (eq .GameState 1)}}
                <p>Bravo vous avez gagné</p>
            {{end}}
            {{if (eq .GameState 2)}}
                <p>Vous avez perdu</p>
            {{end}}
            {{if (eq .GameState 0)}}
            <p id="Nombredessaie">Nombre d'essais : {{.Count}} </p>
            <p id="deathCount">essais restant : {{.DeathCount}}</p>
                <form method="POST">
                    <label>Rentrez une lettre ou un mot:</label><br />
                    <input type="text" name="answer" autofocus><br />
                    <input type="submit">
                </form>
            {{end}}
            </div>
            <img class ="pendu" src="/style/img/hangman{{.DeathCount}}.png">
        </div>
</div>

<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d6288936ecca89d',m:'EFggSVEdAtTQx08kNAlReg1g_whxA0XMJuB63oqjpM8-1643627845-0-AVkyI5XmAA4x7ZhCpXJwe8QuSE35w7Ay0fse/VOh4DhrJnqQsw0tkVCwMnxbqqSulA1BolyWQsFjXxxiX/xTYTj/dJ3s+NrGSWv7jxw8dHoKOgpd56GySBGy2dTZJamT1axdnC0Z4WjSkGD6GCzDOKeHU5qd7AhupmnwJ6JYqK9JZ0epamiWhIceS4JTMRoVBw==',s:[0x1cc7fef482,0xfd811ef1ed],}})();</script></body>
</html>