
body {
    background-image: url(img/green-blackboard-background-with-chalk.jpg);
    background-size: cover;
    font-family: Heina ;
    color : white;
}

@font-face {
    font-family: "Heina";
    src: url(font/Heinahurry.ttf);
}

#schoolboard {
    width : 100vh;
    height : 100vw

}

h1 {
    text-align: center;
}